section.details-section
  .wrapper
    .details-section__container
      img.details-section__img-1(src="images/details-section-img-1.png" loading="lazy" width="1222" height="1032" alt="image")
      img.details-section__img-2(src="images/details-section-img-2.png" loading="lazy" width="360" height="348" alt="image")
      h2.details-section__title.font-w-extra-bold.font-s-40.text-up
        | Почему именно 
        br.no-br
        | сейчас нужно запускать 
        br.no-br
        | бизнес в этой нише?
      .swiper-bullet
        .details-section__cards.swiper-wrapper
          .details-section__card-1.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-1.jpg" loading="lazy" width="480" height="480" alt="image")
            .details-section__card-text
              .font-w-extra-bold.font-s-24.text-up.color-blue Более 76%
              .font-s-18
                | жителей России 
                br
                | интересуются футболом
          .details-section__card-2.swiper-slide
            img.details-section__card-img(src="images/details-section-card-img-2.jpg" loading="lazy" width="480" height="480" alt="image")
            .details-section__card-text
              .font-w-extra-bold.font-s-24.text-up.color-blue 1,5 млн
              .font-s-18
                | детей регулярно играют 
                br
                | в футбол в школах
          .details-section__card-3.swiper-slide
            .font-s-18
              | Эта статистика говорит 
              br.no-br
              | о большой заинтересованности 
              br.no-br
              | населения в этом виде спорта 
              br.no-br
              | и о широком спектре 
              br.no-br
              | возможностей бизнеса, 
              br.no-br
              | благодаря которым вы можете 
              br.no-br
              | стать лидером этой ниши
          .details-section__card-4.swiper-slide
            .font-s-18
              | Запустив школу с готовым брендом, 
              br.no-br
              | продуманной концепцией 
              br.no-br
              | и проработанными процессами, 
              br.no-br
              | вы гарантированно сможете найти 
              br.no-br
              | своих клиентов и легко выйти на 
              br.no-br
              | стабильную прибыль 
              br.no-br
              | в любом городе России
            img.details-section__card-logo(src="images/logo.svg" loading="lazy" width="229" height="229" alt="logo")
        .bullet-pagination
