header.header-thanks
  .header-thanks__container
    .header-thanks__brand-block
      img.header-thanks__logo(src="images/logo.svg" loading="lazy" width="120" height="120" alt="logo")
      .header-thanks__brand
        .font-w-extra-bold.font-s-18-a ТРИУМФ ПЕРВЫХ
        .font-s-14 Франшиза детского <br> футбольного клуба
    .header-thanks__connection
      a(href="tel:+79000000000")
        img.header-thanks__connection-icon(src="images/connection-icon.svg" loading="lazy" width="24" height="24" alt="icon")
      include ../components/phone-number.pug
