section.support-section
  .wrapper
    .support-section__container
      img.support-section__img(src="images/support-section-img.png" loading="lazy" width="734" height="1066" alt="image")
      h2.support-section__title.font-w-extra-bold.font-s-40.text-up Меры поддержки партнеров
      .support-section__sub-title.font-s-18 Как мы поможем вам на старте:
      .swiper-bullet
        .support-section__cards.swiper-wrapper
          .support-section__card.swiper-slide
            .font-w-extra-bold.font-s-24-b 01
            .font-s-18 Проведем для вас <br> подробное очное обучение
          .support-section__card.swiper-slide.support-card-order-3
            .font-w-extra-bold.font-s-24-b 02
            .font-s-18 Дадим рекомендации <br> по поиску и найму персонала
          .support-section__card.swiper-slide.support-card-order-5
            .font-w-extra-bold.font-s-24-b 03
            .font-s-18 Предоставим <br> базу знаний франшизы
          .support-section__card.swiper-slide.support-card-order-7
            .font-w-extra-bold.font-s-24-b 04
            .font-s-18 Передадим <br> тренировочную программу
          .support-section__card.swiper-slide.support-card-order-9
            .font-w-extra-bold.font-s-24-b 05
            .font-s-18 Подключим к общему <br> программному обеспечению
          .support-section__card.swiper-slide.support-card-order-2
            .font-w-extra-bold.font-s-24-b 06
            .font-s-18 Дадим рекомендации <br> по выбору локации и помещения
          .support-section__card.swiper-slide.support-card-order-4
            .font-w-extra-bold.font-s-24-b 07
            .font-s-18 Поможем правильно <br> оборудовать и оформить его
          .support-section__card.swiper-slide.support-card-order-6
            .font-w-extra-bold.font-s-24-b 08
            .font-s-18 Поделимся рабочими <br> маркетинговыми инструментами
          .support-section__card.swiper-slide.support-card-order-8
            .font-w-extra-bold.font-s-24-b 09
            .font-s-18 Дадим рекомендации <br> по ведению социальных сетей
          .support-section__card.swiper-slide.support-card-order-10
            .font-w-extra-bold.font-s-24-b 10
            .font-s-18 Добавим в закрытое <br> сообщество партнеров сети
        .bullet-pagination.bullet-pagination--left
      .support-section__bottom
        img.support-section__bottom-img(src="images/support-section-bottom-img.png" loading="lazy" width="285" height="170" alt="image")
        .font-s-18
          | Работаем строго по договору, 
          br
          | в котором описаны наши обязанности 
          br
          | и все условия сотрудничества
      button.btn.support-section__btn(data-remodal-target="modal-form-agreement") Скачать
